@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#linhaCima {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cabecalho {
    padding: 0vh 3vw;
}

section{
    width: 100%;
}

h1, h3, a {
    font-family: 'Roboto Slab', serif;
    text-decoration: none;
    color: black;
}

#centro {
    display: flex;
    justify-content: center;
    margin: 10vh;
    padding: 0px 5px;
    align-items: center;
}

#nome {
    display: flex;
    justify-content: center;
    margin: 10vh;
    padding: 0px 10px;
    align-items: center;
}

#nome1:hover {
    color: red;
    text-shadow: 1px 1px black;
}

#pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

#clique {
    margin-right: 5vh;
}

#lupa {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lupa1 {
    margin-top: 2vh;
    width: 50px;
}

